* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ----------------Navbar ---------------- */

.logo {
    margin-top: 8px;
    margin-right: 36px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: auto;
    border-bottom: 1px solid #EBECEE;
}
.nav-menu {
    display: flex;
    align-items: center;

}

.profile_image {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    border-radius: 50%;
}
.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #353943;
    font-weight: 500;
    font-size: 1.1em;
    margin-right: 32px;
}

.bell_icon {
    color: #B3B4BE;
    font-size: 1.2em;
    margin-left: 22px;
}

.search_icon {
    margin-right: -30px !important;
    z-index: 100;
    color: #B3B4BE;
    font-size: 1em;
}

.nav-item input {
    outline: none;
    padding: 10.5px 36px;
    width: 280px;font-weight: 500;
    color: #B3B4BE;
    font-size: .9em;
    border: 1px solid #E0E1E3;
    border-radius: 6px;
    z-index: 0;
}

/* ---------------- Header ---------------- */

.header1 {
    width: 94%;
    margin: auto;
    margin-top: 35px !important;
}
.first_slug {
    display: flex;
    align-items: center;
}

.first_slug_content {
    margin-right: 20px;
}

.first_slug_content a {
    text-decoration: none;
    color: #91939E;
    font-weight: 600;
    font-size: .95em;
}
.first_slug_icon {
    margin-right: 20px;
}

.first_slug_icon i {
    font-size: .9em;
    color: #91939E;
}

.header_title h1 {
    color: #10141F;
    margin-top: 13px;
    margin-bottom: 13px;
}
.header_description_left {
    display: flex;
}
.header_description_content i {
    color: #91939E;
    margin-right: 10px;
}

.header_description_content p {
    color: #91939E;

}

.header_description {
    display: flex;
}
.header_description_content {
    display: flex;
    margin-right: 20px;
}

.header_description {
    display: flex;
    justify-content: space-between;
}

.header_description_right {
    display: flex;
    margin-top: -20px;
}

.edit_btn {
    border: 1px solid #E0E1E3;
    border-radius: 5px;
    padding: 9px 15px;
    margin-right: 7px;
}

.edit_btn a {
    text-decoration: none;
    color: #A0A3AE;
}

.edit_btn i {
    padding-right: 8px;
}

.published_btn {
    background-color: #8463EE;
    padding: 9px 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.published_btn a {
    text-decoration: none;
    color: white;
}

.check_icon {
    padding-right: 4px;
    
}

.icon_down {
    border-left: 1px solid black;
    padding-left: 6px;
}

.pub {
    margin-right: 6px;
    
}

.arrow i {
    background-color: #8463EE;
    padding: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}



/* --------------------- Section --------------------- */

.section1 {
    width: 94%;
    margin: auto;

}
.section_title {
    color: #2e333a;
    font-size: 1.28em;
    letter-spacing: 1.3px;
    margin-bottom: 30px;
    margin-top: 45px !important;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #EBECEE;
}

.tab_link {
    text-decoration: none;
    /* margin-bottom: 13px; */
    margin-right: 53px;
    color: #91939E;
    font-size: .94em;
    font-weight: 500;
}

.tab_border {
    background-color: #F2F3F7;
    border-radius: 50%;
    margin-left: 9px;
    padding: 8px 12px;
    color: #8668D7;
}

/* Tabs */

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
 
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    border-bottom: 2px solid #8668D7;
  }
  
  .tab:hover {
    opacity: .7;
    transition: all 0.2s ease;
  }
  
  .tab-content {
      margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
.img_tab img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.tab_flex_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBECEE;
}

.tab_flex {
    display: flex;
    margin-bottom: 22px;
    width: 300px;
}

.profile_info {
    line-height: 1.5;
    margin-left: 15px;
}
.profile_info h1 {
    color: #8463EE;
    font-size: .95em;
    font-weight: 600;
}

.profile_info p {
    font-weight: 400;
    color: #A0A1B3;
}

.profile_info i {
    margin-right: 8px;
}

.tab_flex2 h1{
    color: #41444A;
    font-size: 1em;
    font-weight: 500;
    
}

.done_2 {
    display: flex;
    align-items: center;
    line-height: 2.6;
}

.done_2 i {
    margin-right: 7px;
    color: #6ECD9B;
}

.done_2 p {
    color: #989da2;
    font-size: .9em;
    font-weight: 500;
}

.tab_flex3 i {
    color: #A9A9B3;
}

.tab_flex_top_1 {
    margin-top: 25px;
}


/* ---------------- Pagination ----------------*/

.pagination1 {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin:auto;
    margin-bottom: 33px;
    margin-top: 20px !important;
}

.pagination_left i {
    color: #84848B;
    margin-right: 9px;
}

.pagination_left a {
    text-decoration: none;
    color: #84848B;
    font-weight: 500;
    font-size: 1.04em;
}


.pagination_right i {
    color: #84848B;
    margin-left: 9px;
}

.pagination_right a {
    text-decoration: none;
    color: #84848B;
    font-weight: 500;
    font-size: 1.04em;
}



.pagination_center a {
    text-decoration: none;
    color: #84848B;
    font-weight: 400;
    font-size: 1.04em;
    margin-left: 30px;
} 

/* .pagination_active {
    color:#8463EE !important;
    border-bottom: 2px solid #8463EE;
    border-top-width: 200px;
}

  */

  .pagination_active1 {
    color:#8463EE !important;
    border-bottom: 1.4px solid #8463EE;
    margin-left: 50px !important;
    position: absolute;
    margin-top: -20px;
    width: 60px;
  }